#student-table {
    max-height: 400px;
    overflow: scroll;
}

th, tr {
    width: 33%;
}

.present {
    color: #0D0D0D;
    font-style: italic;
    background-color: #A6826D;
}

.absent {
    color: #F2BC8D;
    font-weight: bold;
    background-color: #0D0D0D;

}


[v-cloak]{
    display: none;
}
